<header>
  <div class="container">
    <a routerLink="/" class="logo__link">
      <app-svg-icon [path]="icons['logo']"></app-svg-icon>
    </a>
    <nav class="navigation" [ngClass]="{ collapsed: isCollapsed }">
      <div class="nav__icon__collapse">
        <app-svg-icon [path]="icons['iconMenu']" (click)="toggleNav()" />
      </div>
      <ul class="nav__items">
        <li class="nav__item">
          <a class="nav__link" routerLink="/" routerLinkActive="active"
            >Обмін</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" routerLink="/" routerLinkActive="active"
            >Гарантія</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" routerLink="/" routerLinkActive="active"
            >Новини</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" routerLink="/" routerLinkActive="active"
            >Служба Підтримки</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" routerLink="/" routerLinkActive="active">Блог</a>
        </li>
      </ul>
    </nav>

    <div class="login">
      @if (user === undefined) {
      <button class="btn btn__active" routerLink="account/login">
        Увійти
        <app-svg-icon [path]="icons['user']"></app-svg-icon>
      </button>
      } @else {
      <span>{{ user.firstName }}</span>
      <app-svg-icon [path]="icons['user']"></app-svg-icon>
      }
    </div>
  </div>
</header>

<div class="nav-buttons">
  <button class="catalog-button">
    <span>Каталог</span>
    <span class="catalog-icon">☰</span>
    <!-- Replace with actual icon if needed -->
  </button>

  <div class="icon-buttons">
    <div class="icon-buttons icon__search__btn" (click)="search()">
      <div class="input__item">
        @if (activeSearch) {

        <input
          type="text"
          class="input__search"
          [(ngModel)]="inputSearch"
          (keydown.enter)="search()"
        />

        }
        <app-svg-icon [path]="icons['search']" class="icon__search" />
      </div>
    </div>
    <a href="#" class="icon-buttons circle-button">
      <app-svg-icon [path]="icons['balance']" />
    </a>
    <a href="#" class="icon-buttons circle-button">
      <app-svg-icon [path]="icons['heart']" />
    </a>
    <a
      [routerLink]="[{ outlets: { cart: ['cart'] } }]"
      class="icon-buttons circle-button"
    >
      <app-svg-icon class="cart-icon" [path]="icons['cart']" />
    </a>
  </div>
</div>
