<div class="header">
    <a href="/">
        <img src="logo.svg" alt="Tech House">
    </a>
    <div class="header_links">
        <div class="warranty">
            <a href="#">Гарантія</a>
        </div>
        <div class="exchange">
            <a href="#">Обмін</a>
        </div>
        <div class="news">
            <a href="#">Новини</a>
        </div>
        <div class="support_service">
            <a href="#">Служба Підтримки</a>
        </div>
        <div class="blog">
            <a href="#">Блог</a>
        </div>
    </div>
    <div class="header_auth">
        <div class="auth">
            <p class="text"></p>
            <img src="user.png" alt="Account">
        </div>
    </div>
</div>