<div class="slider__container">
  <div class="slider" (mouseenter)="stopAutoPlay()" (mouseleave)="autoPlay()">
    <div class="slider__wrapper">
      @if (advProducts[selectedIdx]) {

      <div class="slider__content">
        <h1>{{ advProducts[selectedIdx].productName }}</h1>
        <p class="price__percent-disc">
          -{{ advProducts[selectedIdx].productDiscount }}%
        </p>
        <div class="price__wrapper">
          <p class="price__line-through">
            {{ advProducts[selectedIdx].productPrice | price }}&#8372;
          </p>
          <div class="line__one"></div>
          <div class="line__two"></div>
        </div>
        <p class="price__discount">
          {{ advProducts[selectedIdx].priceWithDiscount | price }}&#8372;
        </p>
      </div>
      <div class="slider__image">
        <img [src]="advProducts[selectedIdx].images[0].imageUrl" alt="" />
      </div>
      }
    </div>

    <div class="slider__nav">
      @for (item of advProducts; track $index) {
      <div
        class="slider__nav-item"
        (click)="isActive($index)"
        [ngClass]="{ 'slider__nav-item__active': selectedIdx === $index }"
      ></div>
      }
    </div>
  </div>
</div>
