* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}

.frame {
    width: 400px;
    position: relative;
    border-radius: 20px;
    background: #FFF;
    margin: auto;
    padding: 5px;
    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-shrink: 0;
    float: right;
}

h2 {
    margin-top: 44px;
    margin-bottom: 20px;
    color: var(--blck, #393939);
    /* H3 D */
    font-family: Jura;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.container {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

input {
    display: flex;
    height: 60px;
    padding: 0px 32px;
    align-items: center;
    align-self: stretch;
    border-radius: 61px;
    border: none;
    background: var(--B4, #E6F0F0);
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: var(--blck, #393939);

    /* form lbl D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background: var(--B1, #AFC1E7);
    cursor: pointer;
    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.social {
    display: flex;
    width: 123px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h4 {
    align-self: stretch;
    color: var(--blck, #393939);

    /* form lbl D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-icons {
    display: flex;
    width: 104px;
    justify-content: space-between;
    align-items: center;
}

.facebook {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.google {
    width: 31.36px;
    height: 32px;
    flex-shrink: 0;
}

.redirect {
    display: flex;
    width: 185px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.register {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 44px;
    border: 2px dashed var(--B1, #AFC1E7);
}

button::content {
    color: var(--blck, #393939);

    /* Button S D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6 {
    color: var(--G1, #91A0A5);
    text-align: center;

    /* caption D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.restore {
    color: var(--B1, #AFC1E7);
    /* caption D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }