<section class="product__card">
  @for (product of products; track $index) {
  <div class="product__item">
    <div class="product__image">
      <img
        class="product__item-image"
        [src]="product.images[currentImage].imageUrl"
        alt="product image"
      />
      @if (product.productDiscount) {
      <div class="product__discount">{{ product.productDiscount }} %</div>
      }
      <div
        class="product__like"
        (click)="addFavorite(product.productId, $index)"
      >
        <svg
          [ngClass]="{ clicked: product.favorite }"
          [attr.fill]="product.favorite ? iconUrl : 'none'"
          class="icon__heart"
        >
          <use xlink:href="assets/images/svg/sprite.svg#heart"></use>
          <defs>
            <linearGradient
              id="gradient"
              x1="20.9964"
              y1="11.9943"
              x2="2.98706"
              y2="11.9943"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FF9E9E" />
              <stop offset="1" stop-color="#FADC93" />
            </linearGradient>
            <linearGradient
              id="gradient_hover"
              x1="20.9964"
              y1="11.9943"
              x2="2.98706"
              y2="11.9943"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FF9E9E" />
              <stop offset="1" stop-color="#FADC93" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <div class="arrow__left" (click)="slideLeft($index)">
        <app-svg-icon [path]="icons['arrowLeft']" />
      </div>
      <div class="arrow__right" (click)="slideRight($index)">
        <app-svg-icon [path]="icons['arrowRight']" />
      </div>
    </div>
    <p class="product__name">
      {{ product.productName | cutString }}
    </p>
    <div class="product__price">
      <div class="product__likes">
        @for (star of stars; track $index) {
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          [attr.fill]="rating > $index ? color : 'none'"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="assets/images/svg/sprite.svg#star"></use>
        </svg>
        <!-- <app-svg-icon class="icon__star" [path]="star" /> -->
        }
        <p class="rating">115</p>
      </div>
      <div class="product__price-item">
        @if(product.productDiscount) {
        <div class="price__wrapper">
          <p class="price">{{ product.productPrice | price }}&#8372;</p>
          <div class="line__one"></div>
        </div>
        }
        <p class="discount">{{ product.priceWithDiscount | price }}&#8372;</p>
      </div>
    </div>

    <div class="product__button">
      <button class="btn btn__primary" (click)="addToCart($index)">
        До кошика
      </button>
    </div>
  </div>
  }
</section>
