@use "../../../../assets/styles/colors";
@use "../../../../assets/styles/breakpoint" as point;

.app-product-card {
  width: 100%;
}

.app-product-slider {
  width: 100%;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}

.products__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products__nav__tittle {
  font-size: 36px;
  font-weight: 700;
  font-family: Jura;
  line-height: 42.6px;
  color: colors.$black;
}

.btn__nav__more {
  padding: 10px 20px;
  border: none;
  border-radius: 14px;
  background: colors.$white;
  max-height: 44px;
  max-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Jura;
  font-weight: 600;
  font-size: 16px;
  color: colors.$black;
  line-height: 19px;
}

.disabled {
  background-color: colors.$g4;
  color: colors.$g1;
}

/* medium */
@include point.breakpoint(medium) {
  .products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* small */
@include point.breakpoint(small) {
  .products__items {
    /* width: 390px; */
  }

  .products__nav {
    /* width: 390px; */
    padding-bottom: 15px;
  }

  .products__nav__tittle {
    font-size: 16px;
  }

  .btn__nav__more {
    width: 96px;
    height: 19px;
    font-size: 13px;
    padding: 2px 14px;
  }
}
/* extra small */
@include point.breakpoint("extra-small") {
  /* .products__items {
    width: 300px;
  }

  .products__nav {
    width: 300px;
  } */
}
