* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.alert {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 36px;
  color: red;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding: 0 40px;
}

/* medium */
@media (max-width: 1280px) {
  .container {
    padding: 0 22px;
  }
}
/* small */
@media (max-width: 744px) {
  .container {
    padding: 0 20px;
  }
}
/* extra small */
@media (max-width: 424px) {
  .container {
    padding: 0 10px;
  }
}
