* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 100% of the viewport height */
}

.frame {
    width: 400px;
    position: relative;
    border-radius: 20px;
    background: #FFF;
    margin: auto;
    padding: 5px;
    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-shrink: 0;
    float: right;
}

h2 {
    margin-top: 44px;
    margin-bottom: 20px;
    color: var(--blck, #393939);
    /* H3 D */
    font-family: Jura;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.container {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: auto;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

input {
    display: flex;
    height: 60px;
    padding: 0px 32px;
    align-items: center;
    align-self: stretch;
    border-radius: 61px;
    border: none;
    background: var(--B4, #E6F0F0);
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: var(--blck, #393939);

    /* form lbl D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    align-self: stretch;
    color: var(--blck, #393939);

    /* form lbl D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    /* M3/Elevation Light/1 */
    background: var(--GR2, #A8DBAA);

    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

a, button::content {
    color: var(--blck, #393939);

    /* Button S D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

h6 {
    color: var(--G1, #91A0A5);
    text-align: center;

    /* caption D */
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.check {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

input[type="checkbox"] {
    width: 24px;
}

input[type="checkbox"]:checked {
    stroke: #0EE606;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}