@forward "./assets/styles/btn";
@use "./assets/styles/colors";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Tenor+Sans&display=swap");

/* variables */
/* colors */

// :root {
//   --white: #fff;
//   --black: #000;
//   --y1: #fadc93;
//   --y2: #fae4b5;
//   --y3: #f7e6c8;
//   --y4: #faf5ea;
//   --o1: #e69779;
//   --o2: #f2bc98;
//   --o3: #f1cdbd;
//   --o4: #f2ded5;
//   --r1: #e69779;
//   --r2: #efa393;
//   --r3: #f5c8b3;
//   --r4: #f2d0c7;
//   --p1: #fda39e;
//   --p2: #f7b2b5;
//   --p3: #fdd0cd;
//   --p4: #fdd9db;
//   --g1: #91a0a5;
//   --g2: #abb8c4;
//   --g3: #d0d4d8;
//   --g4: #e8ecef;
//   --gr1: #0ee606;
//   --gr2: #a8dbaa;
//   --gr3: #d0eacc;
//   --gr4: #e3f5df;
//   --b1: #afc1e7;
//   --b2: #c6d6e6;
//   --b3: #c5e1ed;
//   --b4: #e6f0f0;
//   --v1: #a894d3;
//   --v2: #c4a8db;
//   --v3: #d6cde0;
//   --v4: #e0dde4;
//   --bg-img1: #ff9e9e;
//   --cart-title: #393939;
// }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: colors.$y4;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

.icon {
  cursor: pointer;
}
