<section class="cart__container">
  <div class="cart__header">
    <h1>Кошик</h1>
    <app-svg-icon [path]="icons['close']" (click)="close()"></app-svg-icon>
  </div>
  @if (carts.length) {
  <div class="cart__content">
    <ng-container>
      @for (cart of carts; track $index) {
      <app-cart-item
        [cart]="cart"
        (updateCart)="updateItem($event)"
      ></app-cart-item>
      }
    </ng-container>
  </div>
  <div class="cart__actions">
    <div class="cart__total">
      <h3>Підсумок: {{ total | price }} &#8372;</h3>
    </div>

    <div class="cart__btns">
      <button class="btn btn__secondary" (click)="close()">
        Продовжити покупки
      </button>

      <button class="btn btn__active" (click)="makeOrder()">
        Оформити замовлення
      </button>
    </div>
  </div>
  } @else {
  <ng-container>
    <app-cart-empty></app-cart-empty>
  </ng-container>

  }
</section>
